<form class="form" action="/addPlayer" method="post">
   
    <label>Name:</label><input type="text" name="name" >


  //how to link the button submit to the index page
    <div>
    <button type="button" onclick="" name="submit" value="submit">Submit</button>
    <a href='/index'>  </a>
</div>

</form>