<form class="form" action="/addPlayer" method="post">
   
    <label>Name:</label><input type="text" name="name" >


    <div>
            
    <input id="submit" type="submit" name="submit" value="submit">
    
</div>

</form>