<div>
    <div class="wrapper">
        <div>{{card.player}}</div>
        <div class="box a"><img src={{card.card.image}} alt="Card Name"></div>
        <div id="drink">
            <div>{{card.card.drink}}</div>
        </div>
        <div id="do">
            <div>{{card.card.do}}</div>
        </div>
        <a href="/"></a>
    </div>
</div>