<div>
    <div class="wrapper">
        <div>{{playerName}}</div>
        <div class="box a"><img src={{image}} alt="Card Name"></div>
        <div id="drink">
            <div>{{drink}}</div>
        </div>
        <div id="do">
            <div>{{do}}</div>
        </div>
        <a href=""></a>
    </div>
</div>