<!DOCTYPE html>
<html>
  <head>
    <title>List of players</title>
  </head>
  <body>
    <h1> Let's play!</h1>
  
  <ul>
    {{#each players}}
      <li>{{playername}}</li>
    {{/each}}
    </ul>
    
    <a href='/addPlayer'> Add Player</a> <a href='/start'> Start Game</a>
  </body>
</html>
