<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="startPageButton"> 
            <div>
                <button  id="startButton" type="button" onclick="" name="start" value="start">START GAME</button>
            </div>

            <div>
                <button id="moreUserButton" type="button" onclick="" name="addmoreusers" value="addmoreusers">Add More Users</button>
            </div>
    </div>
    </body>
</html>