<div>
    <button type="button" onclick="" name="start" value="start"></button>
</div>

<div>
    <button type="button" onclick="" name="addmoreusers" value="addmoreusers">Add More Users</button>
</div>