<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="wrapper">
        <div class="startPageButton">
            <div>
                <button id="startButton" type="button" onclick="location.href='http://localhost:3000/card/1'"
                    name="start" value="start">START GAME</button>
            </div>

            <div>
                <button id="moreUserButton" type="button" onclick="location.href='http://localhost:3000/addPlayer'"
                    name="addmoreusers" value="addmoreusers">Add More Users</button>
            </div>
        </div>
    </div>
</body>

</html>