body {
  background-color: black;
  line-height: 1;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

#playerList ul {
  mix-blend-mode: difference;
  background-color: red;
  list-style-type: none;
  text-transform: uppercase;
  padding: 80px 80px;
  font-size: 25px;

}

#wrapper1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-left: 50vw;
  padding-right: 50vw;
}

.form {
  padding-left: 50vw;
  padding-right: 50vw;

}

#wrapper2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-left: 50vw;
  padding-right: 50vw;
  padding: 50px;
}


a {
  z-index: +1;
  mix-blend-mode: difference;
  background-color: rgb(72, 81, 200); /* Green */
  text-transform: uppercase;
  border: none;
  color: whitesmoke;
  padding: 80px 80px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

#cardImage img {
  object-fit: cover;
  transform: rotate(15deg);
  /* width: 30vh; */
  max-height: 600px;
  padding-left: 50%;
  padding-right: 50%;
  /* padding-bottom: 10%; */
  opacity: 0.9;
}

#player {
  mix-blend-mode: difference;
  background-color: red; /* Green */
  text-transform: uppercase;
  border: none;
  color: whitesmoke;
  padding: 40px 40px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.title {
  
  mix-blend-mode: difference;
  background-color: white; /* Green */
  text-transform: uppercase;
  border: none;
  color: black;
  padding: 40px 40px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  /* mix-blend-mode: difference; */
  /* background-color: red; Green */
  text-transform: uppercase;
  border: none;
}

#drink {
  mix-blend-mode: difference;
  background-color: white; /* Green */
  text-transform: uppercase;
  border: none;
  color: black;
  /* padding: 10vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

#do {
  mix-blend-mode: difference;
  background-color: red; /* Green */
  text-transform: uppercase;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

#startButton {
  z-index: +1;
  mix-blend-mode: difference;
  background-color: rgb(120, 173, 39); /* Green */
  text-transform: uppercase;
  border: none;
  color: whitesmoke;
  padding: 50px 50px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

#moreUserButton {
  z-index: +1;
  mix-blend-mode: difference;
  background-color: blue; /* Green */
  text-transform: uppercase;
  border: none;
  color: whitesmoke;
  padding: 50px 50px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

#next {
  z-index: +1;
  mix-blend-mode: difference;
  background-color: blue; /* Green */
  text-transform: uppercase;
  border: none;
  color: whitesmoke;
  padding: 50px 50px;
  /* margin-left: 30vw; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;

}



